{% extends("layouts/master.twig") %}
{% block title %}
    Admin Dashboard
{% endblock  %}

{% block content %}
<div class="flex">
    {% include 'layouts/aside.twig' with {active:"dashboard"}  %}
    <div class="my-10 w-[80%] mx-auto">
        <!-- Header -->
        {% include 'layouts/adminheader.twig'   %}
    </div>
</div>


{% endblock %}

